body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  background-color: #afb1b2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #000000;
}

.todo-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  min-height: 400px;
}

.todo-container h1 {
  font-size: 40px;
  color: #1a1a1b;
  text-align: center;
  margin-bottom: 25px;
}

.input-group {
  display: flex;
  gap: 15px;
}

.todo-container input[type="text"] {
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #565757;
  font-size: 18px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.todo-container input[type="text"]:focus {
  outline: none;
  border-color: #0f0f0f;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.btn {
  padding: 12px 20px;
  background-color: #0815d1;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn:hover {
  background-color: #0777c2;
}

.btn:active {
  transform: scale(0.98);
}

.todo-container ul {
  list-style: none;
  padding: 0;
  margin-top: 25px;
}

.todo-container ul li {
  padding: 15px;
  border-radius: 12px;
  background-color: #ccc9c4;
  margin-bottom: 15px;
  font-size: 18px;
  color: #0b0b0b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-container ul li:hover {
  background-color: #9e9d9c;
}

.delete-button {
  background-color: #ff1900;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #f10707;
}

.todo-container p {
  color: #ea220b;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}